
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Our Services</h2>
            <span class="underline center"></span>
            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Services Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="services-main">
                <div class="services-pg">

                    <section class="who-we-are" style="margin: 70px 0 70px 0">
                        <div class="company-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8 border">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <div class="company-detail">
                                                    <h3 class="section-title">Who we are</h3>
                                                    <span class="underline left"></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien. Ut et neque posuere, interdum purus nec, lobortis eros. Fusce blandit, libero consectetur hendrerit tristique, erat sapien convallis nibh, quis eleifend arcu nisi vitae urna.</p>
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="company-image"></div>
                        </div>
                    </section>

                    <!-- Start: Our Partners Section -->
                    <section class="community-testimonial">
                        <div class="container">
                            <div class="text-center">
                                <h2 class="section-title">Words From our Community</h2>
                                <span class="underline center"></span>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="owl-carousel">
                                <div class="single-testimonial-box">
                                    <div class="top-portion">
                                        <img src="images/testimonial-image-01.jpg" alt="Testimonial Image" />
                                        <div class="user-comment">
                                            <div class="arrow-left"></div>
                                            <blockquote cite="#">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                            </blockquote>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="bottom-portion">
                                        <a href="#" class="author">
                                            Adrey Pachai <small> (Student )</small>
                                        </a>
                                        <div class="social-share-links">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                                
                                            </ul>
                                        </div>
                                     
                                    </div>
                                    
                                </div>
                                <div class="single-testimonial-box">
                                    <div class="top-portion">
                                        <img src="images/testimonial-image-02.jpg" alt="Testimonial Image" />
                                        <div class="user-comment">
                                            <div class="arrow-left"></div>
                                            <blockquote cite="#">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                            </blockquote>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="bottom-portion">
                                        <a href="#" class="author">
                                            Maria B <small> (Student )</small>
                                        </a>
                                        <div class="social-share-links">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                                
                                            </ul>
                                        </div>
                                       
                                    </div>
                                  
                                </div>
                                
                            </div>
                        </div>
                    </section>
                    <!-- End: Our Partners Section -->




                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Services Section -->
