<!-- Start: Footer -->

<footer class="site-footer">
    <div class="container">

        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-text col-md-3">
                        <p><a target="" href="/SiteHome/" style="color:#ff7236">Book Store</a></p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <ul>
                            <li><a href="/SiteHome/">Home</a></li>
                            <li><a href="/SiteBook/">Books</a></li>
                            <li><a href="/SitePerson/">Writers/Interpreters</a></li>

                            <li><a href="/SiteHome/About">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
