
@{
    ViewData["Title"] = "NoAccess";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row justify-content-end mb-2">
                <div class="col-sm-6">
                    @*<ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/AdminHome">Home</a></li>
            <li class="breadcrumb-item active">Books</li>
        </ol>*@
                    <h1>No rights!!!</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>

