
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

@model List<BookStoreProject.Models.VM.CategoryVM>
<!-- DataTables -->
<link rel="stylesheet" href="/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<!-- Left navbar links -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Categories</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Add Date</th>
                                        <th>Books</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryName</td>
                                            <td>@item.AddDate.ToString("dd.MM.yyyy")</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-primary"
                                                   href="/Category/CategoryDetail/@item.CategoryID" role="button">
                                                    <i class="fas fa-book"></i>Books
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-warning edit"
                                                    href="/Category/Edit/@item.CategoryID"
                                                   role="button" id=@item.CategoryID>
                                                    <i class="fas fa-edit"></i>Edit
                                                </a>
                                                <a class="btn btn-sm btn-outline-danger delete"
                                                   role="button" id=@item.CategoryID>
                                                    <i class="fas fa-trash"></i>Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<!-- DataTables  & Plugins -->
<script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/Admin/plugins/jszip/jszip.min.js"></script>
<script src="/Admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/Admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        //$('#example2').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "responsive": true,
        //});
    });

    $(document).on("click", ".delete", function () {
        let id = $(this).attr("id");
        $.ajax({
            url: "/Category/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                console.log("Deleted");
                $("#" + id).fadeOut();
                window.location.href= "/Category"
            },
            error: function (err) {
                console.log("Failed");
            }
        })
    })

</script>

