
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Site/Shared/_SiteLayout.cshtml";
}

@model BookStoreProject.Models.VM.SiteBookVM
    <!-- Start: Page Banner -->
<section class="page-banner services-banner" style="background-image: url(/Site/images/sitebanner.jpg)">

    <div class="container">
        <div class="banner-header">

            <h2> Books Listing </h2>

            <span class="underline center"></span>

            <p class="lead"> </p>

        </div>

        <div class="breadcrumb">
            <ul>
                <li><a href="/SiteHome/"> Home </a></li>
                <li> Books </li>

            </ul>
        </div>
    </div>

</section>

<!--End: Page Banner -->
<section class="book-padding">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-full-width">
                    <div class="container-fluid">

                        @await Html.PartialAsync("Partial/Search")
                        

                        <!-- Start: Search Section -->


                        <div class="row" style="padding: 0 55px 0 55px">

                            @await Html.PartialAsync("Partial/FilterTree")


                            <div class="col-md-9">


                                <div class="booksmedia-fullwidth">
                                    <ul style="display:flex; justify-content:space-between; flex-wrap:wrap">


                                        @foreach (var item in Model.books)
                                        {
                                            <li>
                                                <div class="book-list-icon yellow-icon"></div>
                                                <figure>
                                                    <a href="/SiteBook/BookDetail/@item.ID"><img src="/Admin/Coverimg/@item.Imagepath" alt="Book" style="height:450px"></a>
                                                    <figcaption>
                                                        <header>

                                                            <h4><a href="">@item.Name</a></h4>
                                                            <p>
                                                                <strong>Author:</strong>
                                                                @foreach (var data in item.BookPersons.Where(q => q.DutyID == 0))
                                                                {

                                                                    if (item.BookPersons.Where(q => q.DutyID == 0).LastOrDefault() == data)
                                                                    {
                                                                        <span>
                                                                            @(data.Person.Name + " " + data.Person.SurName)
                                                                        </span>
                                                                    }

                                                                    else
                                                                    {
                                                                        <span>
                                                                            @(data.Person.Name + " " + data.Person.SurName + ",")
                                                                        </span>

                                                                    }

                                                                }
                                                            </p>

                                                        </header>
                                                        @if (item.Summary != null)
                                                        {
                                                            <p>@item.Summary.Substring(0,100)...</p>

                                                        }

                                                    </figcaption>
                                                </figure>
                                            </li>
                                        }

                                    </ul>
                                </div>

                                <nav class="navigation pagination text-center">
                                    @*<h2 class="screen-reader-text">Posts navigation</h2>*@
                                    <div class="nav-links">
                                        <a class="prev page-numbers" href="#"><i class="fa fa-long-arrow-left"></i> Previous</a>
                                        <a class="page-numbers current" href="#">1</a>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="page-numbers" href="#">4</a>
                                        <a class="next page-numbers" href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>




<script>

    var subcategoryselect = $('#category');


    $('#catalog').change(function () {

        subcategoryselect.empty();
        var categoryId = $(this).val();

        if (categoryId == null) {
            subcategoryselect.empty();
            subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
        }

        console.log(categoryId);

        $.ajax({
            type: 'POST',
            url: "/SiteHome/Getsubcategory",
            data: { catalog: categoryId },
            success: function (response) {

                subcategoryselect.append($('<option></option>').val("").text('Select Sub Category'));
                $.each(response, function (i, item) {
                    console.log(item.categoryName);
                    console.log(item.id);
                    subcategoryselect.append($('<option></option>').val(item.id).text(item.categoryName));
                });

            }

        });
    })

</script>


